* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(../../assets/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 220%;
  padding: 15px 0 0 20px;
  text-transform: uppercase;
  color: #fff;
}

.main-body {
  background-color: rgba(10, 10, 10, 0.65);
  width: 80%;
  margin: 0px auto;
}

.main {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  padding: 0 10px;
}

.projects {
  width: 27.5%;
  background-color: #212121;
  color: #fff;
  padding: 15px;
  margin: 15px 0;
  height: 90%;
  border-radius: 1px;
}

.subtitle {
  padding-bottom: 8px;
}

#new-project {
  border: none;
  border-radius: 1px;
  height: 25px;
  font-size: 75%;
  width: 160px;
  padding-left: 5px;
}

#new-project::placeholder {
  color: grey;
}

#new-project:focus {
  outline: none;
}

#new-project-btn {
  border: none;
  border-radius: 1px;
  height: 25px;
  width: 70px;
}

#new-project-btn:hover {
  background-color: #DADAE2;
}

.project-directory {
  width: 90%;
  margin-top: 30px;
}

.saved-project {
  margin: 10px 0 20px 2px;
}

.project-list {
  margin-left: 20px;
}

li {
  padding-top: 10px;
}

.main-right {
  width: 67.5%;
}

.pick-palette {
  background-color: #212121;
  color: #fff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 1px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.colors div {
  width: 15%;
  height: 100px;
}

.save-palette {
  background-color: #212121;
  color: #fff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 1px;
}

#project-menu {
  border: none;
  height: 25px;
  width: 70px;
}

#new-palette {
  border: none;
  border-radius: 1px;
  height: 25px;
  width: 160px;
  padding-left: 5px;
  font-size: 75%;
}

#new-palette::placeholder {
  color: grey;
}

#new-palette:focus {
  outline: none;
}

#new-palette-btn {
  border: none;
  border-radius: 1px;
  height: 25px;
  width: 70px;
  font-size: 75%;
}

#new-palette-btn:hover {
  background-color: #DADAE2;
}

#color1 {
  background-color: #A63446;
}

#color2 {
  background-color: #FBFEF9;
}

#color3 {
  background-color: #0C6291;
}

#color4 {
  background-color: #615756;
}

#color5 {
  background-color: #7E1946;
}

.generate-btn {
  padding: 3px 5px;
  margin: 0 auto;
  display: block;
  width: 25%;
  border: none;
  border-radius: 1px;
  height: 25px;
  font-size: 80%;
}

.generate-btn:hover {
  background-color: #DADAE2;
}
